name: Test

on:
  pull_request: {}
  push:
    branches:
      - master

env:
  BUNDLE_WITHOUT: release

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
        puppet:
          - "~> 8.0"
          - "~> 7.24"
          - "https://github.com/puppetlabs/puppet.git#main"
        exclude:
          - ruby: "3.0"
            puppet: "~> 8.0"
          - ruby: "2.7"
            puppet: "~> 8.0"

          - ruby: "3.0"
            puppet: "https://github.com/puppetlabs/puppet.git#main"
          - ruby: "2.7"
            puppet: "https://github.com/puppetlabs/puppet.git#main"
          - ruby: "2.6"
            puppet: "https://github.com/puppetlabs/puppet.git#main"
    env:
      PUPPET_VERSION: ${{ matrix.puppet }}
      COVERAGE: ${{ matrix.coverage }}
    name: "Ruby ${{ matrix.ruby }} - Puppet ${{ matrix.puppet }}"
    steps:
      - name: Enable coverage reporting on Ruby 3.1
        if: matrix.puppet == '~> 7.24' && matrix.ruby == '3.1'
        run: echo 'COVERAGE=yes' >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Install expect
        run: sudo apt-get install expect
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: spec tests
        run: bundle exec rake features
      - name: Verify gem builds
        run: gem build --strict --verbose *.gemspec

  tests:
    needs:
      - test
    runs-on: ubuntu-latest
    name: Test suite
    steps:
      - run: echo Test suite completed
